Tweet My Home/newXmlSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tweet_my_home_dictionary">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="command" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>COMMANDS</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="string"/>
                            <xs:element type="xs:string" name="value"/>
                            <xs:element type="xs:string" name="flag"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>VARIABLES</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="string"/>
                            <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>