Tweet My Home/xml-resources/jaxb/TMH_Devices/tweetmyhome_devices_schema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tweet_my_home_devices">
        <xs:complexType>
            <xs:sequence>                
                <xs:element name="sensor" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="location"/>
                            <xs:element type="xs:boolean" name="repetitive"/>
                        </xs:sequence>
                        <xs:attribute type="xs:positiveInteger" name="attached_pin" use="required"/>
                    </xs:complexType>
                </xs:element>                
                <xs:element name="actuator" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="description"/>                    
                        </xs:sequence>
                        <xs:attribute type="xs:positiveInteger" name="attached_pin" use="required"/>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>
        </xs:complexType>



    </xs:element>
</xs:schema>